streamlit # for creating webpage

# Utilities
numpy
pandas


# Face Recognition
scikit-learn
dlib-bin
git+https://github.com/ageitgey/face_recognition_models
# this git package is for face recognition
setuptools<70.0.0

supabase # for database
bcrypt # for hashing of passwords

segno # for creating QR
pillow # for image opening, creating, edititng and saving stuffs


librosa  # for audio processing
resemblyzer # for voice recognition